build/
build_*/
bin/
*.dll
*.so
*.lib
*.exp
*.pdb
*.obj
.vs/
*.slnx
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.vcxproj
*.vcxproj.filters
*.dir/
*.tlog
*.lastbuildstate
*.recipe
*.rule
*.stamp
*.depend
*.cmake
*.json
*.yaml
*.bak

src/rsc/
.aider*
src/osx/rsc_data.c
